body{
    background-color: #fff;
}

/*
ul li{
    display: inline-block;
    background-color: #000;
    color: #fff;
}
*/

#container {
    margin: 20px;
    width: 200px;
    height: 100px;
}

.navbar{
    background-color: aqua;
}

.center{
    text-align: center;
}

#quiz{
    display: none;
}

#question{
    font-weight: bold;
}

#resultContainer{
    display: none;
}

.answer:hover{
    background-color: #ededed;
}


#myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}