body{
    background-color: #d4d4d6;
}

/*
ul li{
    display: inline-block;
    background-color: #000;
    color: #fff;
}
*/

.center{
    text-align: center;
}

#quiz{
    display: none;
}

#resultConteiner{
    display: none;
}

.answer:hover{
    background-color: #c1fff7;
}


#myBar {
    width: 0%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}